<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="DjangoSEPiCP" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\inetpub\wwwroot\portal\SEPiCP\venv\Scripts\python.exe|C:\inetpub\wwwroot\portal\SEPiCP\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\portal\SEPiCP\backend" />
    <add key="DJANGO_SETTINGS_MODULE" value="backend.settings" />
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="SCRIPT_NAME" value="/SEPiCP" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\portal\SEPiCP\logs\wfastcgi.log" />
  </appSettings>
</configuration>